@charset "UTF-8";
body{
    background-color:rgb(37, 17, 56);
    font-size: 20px;
} 
h1{
    color:yellow; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
}
h2{
    color:yellow;
    font-size: 1.5em;
}
 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    color:rgb(149, 243, 8);
 }
 img{
    color: blueviolet;
 }