@charset "UTF-8";

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(78, 114, 231);
    margin: 10px;
}
header > h1{
    color: white;
    text-align: center;
    background-color: gray;
    margin-left: 25%;
    margin-right: 25%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 4px 4px 4px rgba(0, 0, 0, 0.315);
}
nav{
    text-align: right;
    margin: 10px 15px ;
}
header > nav > a{
    color: blue;
    text-decoration: none;
    text-align: right;
   
}
header > a:hover{
    text-decoration: underline;
}
main{
    color: white;
    text-align: justify;
    background-color: rgb(62, 146, 241);
    padding: 5px;
    margin: 10px;
    border: 2px;
    border-style: dashed;
    border-color: black;
}
footer{
    color: white;
    background-color:rgb(104, 165, 235) ;
    padding: 5px;
    margin: 10px;
    border: 5px;
    border-style: double;
    border-color: rgb(255, 255, 255);
}
footer > nav > a{
    padding:20px ;
    text-decoration:none ;
    color: whitesmoke;
}
footer > nav > a:hover{
    text-decoration: underline;
}