@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android' ;
    src: url(../fontes/idroid.otf)format('opentype');
    font-weight: normal;
}

:root {
    --cor1:#07E165;
    --cor2:#23AD5C;
    --cor3:#317A50;
    --cor4:#2B4737;
    --cor5:#29332D;

    --font-padrao: Verdana, Arial, Helvetica, Sans-serif;
    --fonte-destaque: "Bebas Neue" , sans-serif;
    --fonte-android: 'android', sans-serif;
}

*{
    margin: 0%;
    padding: 3px;
}
 
body{
    background-image: linear-gradient(to bottom, #eefad1, #07E165);
    font-family: var(--font-padrao);
    padding: 10px;
}


header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    margin: auto;
    min-width: 300px;
    max-width: 900px;
    text-align: center;
}

header h1{
    margin-bottom: 20px;
   
    font-family: var(--fonte-destaque);
}

header p{
    margin: auto;
    color: rgb(0, 0, 0);
    font-family: var(--font-padrao);
    font-weight: bold;
    padding: 3px, 3px, 15px, 3px;
}

nav {
    text-align: center;
}

a.externo::after{
    content: '\1F9F7';
}

nav > a {
    text-decoration: none; 
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 25px,;
    margin: 25px;
    transition-duration: .5s;
    border-radius: 5px;
}
nav a:hover{
    color: white;
    background-color: #23AD5C;
}

main{
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    min-width: 300px;
    max-width: 900px;
}

main h1{
    font-family: var(--fonte-android);
}

main h2{
    font-family: var(--fonte-android);
    font-size: larger;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
 }

 main strong{
    color: rgb(30, 206, 53);
 }

 main a{
    text-decoration: none;
    font-weight: bold;
    color: #07E165;
    background-color: #317A50;
 }

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    border-radius: 5px;
    background-color:rgb(81, 233, 135);
    margin: 10px -25px;
    padding: 10px;
    padding-bottom: 58.4%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}
aside{
    background-image: linear-gradient(to bottom, #41E780, #12E36A);
    border-radius: 5px;
    font-weight: bold;
}

aside ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer{
    text-align: center;
    text-decoration: overline;
    color: white;
}