@charset "UTF-8";

h1{
    background-color: blueviolet;
    height: 86px;
    width: 220px;
    padding: 30px;
    border-width: 15px;
    border-style: solid;
    border-color: black;
   
    margin: auto;
    margin-bottom: 100px;
}
a{
    color: red;

    background-color: rgb(11, 151, 231);
   
    border-top: 15px;
    border-left: 15px;
    border-bottom:15px;
    border-right: 15px;
    border-style: double;
    border-color: black;

    padding:10px;

    outline-width: 5px;
    outline-color: blue;
    outline-style: dashed;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom:10px;
    margin-left: 15px;
}
p{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: coral;
    padding: 5px;
    border: 5px;
    border-color: black;
    border-style: groove;
}