@charset "UTF-8";
 * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*height: 100%;*/
 }
 body{
    background-image: linear-gradient(to left, #093773, #113A8C, #2C51BF);
 }
 main{
    background-color: white;
    width: 600px; 
    border-radius: 20px;
    box-shadow: 8px 8px 20px  #000000bd;
    padding: 10px;
    margin: auto;
   
 }
 h1{
    color:#D9CBA3 ;
    text-align: center;
    text-shadow: 1px 1px 0px #5f5138;
 }
 h2{
    color: #A68F63;
    text-align: center;
 }
 p {
    color: black;
    text-align: justify;
 }